# .NET Core
bin/
obj/
*.user
*.rsuser
*.suo
*.userprefs
*.dll
*.exe
*.pdb
*.cache
*.log

# Visual Studio
.vs/
*.vsp
*.vspscc

# Angular / Node.js
node_modules/
dist/
npm-debug.log
yarn-error.log

# Environment files
.env
.env.local
.env.*.local
